$def with (name, str1, skus, pages, search_rule_name, current_page)

$var title: 关键词回复规则管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load:
$var menu: #plat4

<div class="caption"><h2>关键词回复规则管理</h2></div>


<div class="article_box">
    <span><a class="abtn" href="/plat/bayes_edit">新建规则</a></span>&nbsp;&nbsp;
    <span style="float: right;">查找内容：<input type="text" id="rule_name" value="" />
    <input type="button" id="search" value="搜索" /></span>
</div>

<script type="text/javascript">
$$(function(){
    $$('#search').click(function(){
        var rule_name = encodeURIComponent($$("#rule_name").val());

        location="/plat/bayes?rule_name="+rule_name;
    });
});
</script>

<table class="props_tb">
<thead>
    <tr class="even">
        <th width="15%">规则名</th>
        <th>关键词摘要</th>
        <th>回复类型</th>
        <th>状态</th>
    </tr>
</thead>
<tbody>

$for u in skus:
    <tr>
        <td><a href="/plat/bayes_edit?rule_id=$u['_id']">$u['rule_name']</a></td>
        <td>$u.get('key_word','')[:20]...</td>
        <td>$('病种链接' if u['reply_type']==1 else ('网页链接' if u['reply_type']==2 else '文本信息'))</td>
        <td>$('在使用' if u['available']==1 else '停用')</td>
    </tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        $if x!=current_page:
            <a href="/plat/bayes?page=$x&rule_name=$search_rule_name">$(x+1)</a>&nbsp;&nbsp;
        $else:
            <b>$(x+1)</b>&nbsp;&nbsp;
</div>
